body, html {
  font-family: 'Work Sans', sans-serif;
  height: 100%;
  margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px
}

h1 {
  font:400 87px/84px Abril Fatface;
}

h3 {
font:  200 60px/84px Abril Fatface;
}



.background-image {
/* background: url(/images/Windows-10-NoZoom.jpg) no-repeat center center fixed; */
background-image: url('/images/background-image-laptop.jpeg');
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* z-index: 1;
filter: blur(5px);
-webkit-filter: blur(5px); */
}


.caption {
  position: absolute;
  left:0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
}
.container {
  height:600px;
  margin : auto 125px auto 125px;
  background-color:white;
  font-size:24px;
}


.column {
  margin-top: 40px;
    float: left;
    width: 33.33%;
    min-width:200px;
}

.column h1 {
  font-size: 1.1em;
}

.column p {
  font-size: 0.8em;
}

.header {
  margin-top: -4px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* .firstPane, .secondPane, .thirdPane, .fourPane, .fifthPane {
  height: 400px;
} */

.center {
  text-align: center;
}
/* TERMINAL THING */
.prompt {
  color : red;
}

.terminal {
  font-size: 18px;
}
.terminal-title-bar {
  /* z-index: 2;
  margin-top: -100px;
  top: 38%;
  left:30%;
  right: 30%;
      width: 34.3%;
      height: 2%;
    position: absolute;
    padding: 5px 10px; */

    /* position: absolute;
      left:60%;
    width: 30%;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid; */
}

.terminal-body {
  /* z-index: 2;
    padding: 5px 10px;
    height: 40%;
    width: 34.3%;
    margin-top: -100px;
    position: absolute;
    top: 41%;
    left:30%;
    right: 30%; */
    /* position: absolute;
      left:30%;
    text-align: left;
    width : 30%;
    overflow-y: auto;
    word-break: normal;
    background-color: #000;
    color: #fff; */

}

.blinking-cursor {
  opacity:1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation:  blink 0.7s infinite;
  animation: blink-animation 0.7s steps(5, start) infinite;
   -webkit-animation: blink-animation 0.7s steps(5, start) infinite;
 }
 @keyframes blink-animation {
   to {
     visibility: hidden;
   }
 }
 @-webkit-keyframes blink-animation {
   to {
     visibility: hidden;
   }
 }
