body {
  font-family: 'Work Sans', sans-serif;
  background: url(/images/background-image-laptop.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

li {
  display:inline;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

.navbar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  overflow:hidden;
  background-color: black;
  letter-spacing: 0.1em;
}

.navbarContent {
  margin-left: 10%;
}

.keyboard{
  color:white;
}

.container {
  color: white;
  text-align: center;
  position:absolute;
}
