body {
  font-family: 'Work Sans', sans-serif;
  background: url(/images/background-image-laptop.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

li {
  display:inline;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

.navbar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  overflow:hidden;
  background-color: black;
  letter-spacing: 0.1em;
}

.navbarContent {
  margin-left: 10%;
}

.keyboard{
  color:white;
}

/* .container {
  color: white;
  font-size: 2em;
  text-align: center;
  left: 0;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
} */


.terminal-title-bar {
  margin-top: -100px;
  top: 47%;
  left:30%;
    width:524px;
      height: 25px;
    position: absolute;
    padding: 5px 0;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

.terminal-body {
    padding: 5px 10px;
    height: 255px;
    width:505px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    left:30%;
    overflow-y: auto;
    word-break: normal;
    background-color: #000;
    color: #fff;

}

.typed-cursor {
  opacity:1;
  
}
